body {
  background-color: #282c34;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
}

.content {
  font-size: 18px;
}

.currency-header {
  margin: 20px;
}

.currency-input {
  margin: 20px;
}

.currency-table {
  margin-left: auto;
  margin-right: auto;
  width: 345px;
}

.currency-table-items {
  text-align: left;
}

.currency-rates {
  margin: 15px;
}

.currency-rates-table {
  margin-left: auto;
  margin-right: auto;
  width: 115px;
}

.currency-rates-table-items {
  text-align: left;
}

.chart {
  margin-left: auto;
  margin-right: auto;
  width: 555px;
}